:root {
    --lightblueopacity2: #7ba9e82f;

    --bloohighlight: #0fe0d1;
    --bloobody: #0dc3b6;
}

.art {
    position: absolute;
    top: 10%;
    right: 10%;

    height: 40vh;
    width: 40vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--whiteopacity1);
    border-radius: 50%;
}
.body {
    position: relative;
    border: 0.5vmin solid black;
    width: 30vmin;
    height: 25vmin;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-sizing: border-box;
    background: var(--bloobody);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cross {
    position: relative;
    top: -5vmin;
    right: -2vmin;
    background: var(--bloohighlight);
}
.cross::before, .cross::after{
    position: absolute;
    top: 1vmin;
    right: 4vmin;
    left: 2vmin;
    bottom: 5vmin;
    content: ' ';
     width: 4vmin;
    height: 1vmin;
    background: var(--bloohighlight);
    border-radius: 20px;
}
.cross:before {
    transform: rotate(90deg);
}

.circle {
    position: relative;
    top: -1vmin;
    width: 7vmin; 
    height: 7vmin;
    background: var(--bloohighlight);
    border-radius: 45%;
}
.eyes {
    position: relative;
    top: 0vmin;
    right: 2vmin;
    background: var(--black);
}
.eyes::before {
    position: absolute;
    left: 5vmin;
    content: ' ';
    width: 6vmin;
    height: 1vmin;
    background: var(--black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.eyes::after {
    position: absolute; 
    left: -5vmin;
    content: ' ';
    width: 6vmin; 
    height: 1vmin;
    background: var(--black);
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mouth {
    position: absolute;
    width: 5vmin;
    height: 2vmin;
    border: 0.7vmin solid var(--black);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
    top: 18vmin;
    left: 12vmin;
}
.belly {
    position: absolute;
    bottom: 2px;
    width: 22vmin;
    height: 4vmin;
    background: var(--bloohighlight);
    border-radius: 40%;

}

@media only screen and (max-width: 800px) {
    .art {
        top: 5%;
        right: 5%;
    }
}